<%- include('partials/header') %>
  <%- include('partials/navbar') %>

    <div class="col-md-10 p-4">
      <% if (user) { %>
        <% if (user.jobpos_id===1||user.jobpos_id===2 ||user.jobpos_id===3 ) { %> <!-- สมมุติ 1 = Admin -->
          <h3 class="mb-4 fs-4">ยินดีต้อนรับ <%= user.emp_name %>!</h3>
          <h3 class="mb-4 fs-4">วันที่ 24 เมษายน 2568</h3>
          <h4>บันทึกเวลา เข้า/ออก งาน</h4>

          <div class="card my-3">
            <div class="card-body d-flex justify-content-between align-items-center">
              <div>
                <h5 class="fw-bold mb-1">เวลาเข้างาน</h5>
                <p class="fs-5 mb-0">
                  <%= checkinTime || '--:--' %>
                </p>
              </div>
              <form method="POST" action="/checkin">
                <button class="btn btn-primary" <%=checkinTime ? 'disabled' : '' %>>เช็คอิน</button>
              </form>

            </div>
          </div>

          <div class="card my-3">
            <div class="card-body d-flex justify-content-between align-items-center">
              <div>
                <h5 class="fw-bold mb-1">เวลาออกงาน</h5>
                <p class="fs-5 mb-0">
                  <% if (checkoutTime) { %>
                    <%= checkoutTime %>
                      <% } else if (!checkinTime) { %>
                        ยังไม่ได้เช็คอิน
                        <% } else { %>
                          ยังไม่ได้เช็คเอ้าท์
                          <% } %>
                </p>
              </div>

              <form method="POST" action="/checkout">
                <button class="btn btn-primary" <%=(checkoutTime || !checkinTime) ? 'disabled' : '' %>>
                  เช็คเอ้าท์
                </button>
              </form>
            </div>
          </div>



          <div class="row mb-4">
            <div class="col-md-5 mb-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">พนักงานลงงานวันนี้</h5>
                  <h1 class="text-end fs-1">99</h1>
                  <p class="card-text text-end">ทั้งหมด/คน</p>
                </div>
              </div>
            </div>
            <div class="col-md-5 mb-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">จำนวนผู้สมัคร</h5>
                  <h1 class="text-end">0</h1>
                  <p class="card-text text-end">ทั้งหมด/คน</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 mb-3">
              <div class="card card-green">
                <div class="card-body">
                  <h5 class="card-title">มาตรงเวลา</h5>
                  <h1 class="text-end">2</h1>
                  <p class="card-text text-end">ทั้งหมด/คน</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <div class="card card-yellow">
                <div class="card-body">
                  <h5 class="card-title">มาสาย</h5>
                  <h1 class="text-end">3</h1>
                  <p class="card-text text-end">ทั้งหมด/คน</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <div class="card card-red">
                <div class="card-body">
                  <h5 class="card-title">ขาด/ลา</h5>
                  <h1 class="text-end">94</h1>
                  <p class="card-text text-end">ทั้งหมด/คน</p>
                </div>
              </div>
            </div>
          </div>

    </div>

    <% } else  { %> <!-- สมมุติ 2 = หัวหน้า -->
      <h4>บันทึกเวลา เข้า/ออก งาน</h4>

      <div class="card my-3">
        <div class="card-body d-flex justify-content-between align-items-center">
          <div>
            <h5 class="fw-bold mb-1">เวลาเข้างาน</h5>
            <p class="fs-5 mb-0">
              <%= checkinTime || '--:--' %>
            </p>
          </div>
          <form method="POST" action="/checkin">
            <button class="btn btn-primary" <%=checkinTime ? 'disabled' : '' %>>เช็คอิน</button>
          </form>

        </div>
      </div>
      <div class="card my-3">
        <div class="card-body d-flex justify-content-between align-items-center">
          <div>
            <h5 class="fw-bold mb-1">เวลาออกงาน</h5>
            <p class="fs-5 mb-0">
              <% if (checkoutTime) { %>
                <%= checkoutTime %>
                  <% } else if (!checkinTime) { %>
                    ยังไม่ได้เช็คอิน
                    <% } else { %>
                      ยังไม่ได้เช็คเอ้าท์
                      <% } %>
            </p>
          </div>

          <form method="POST" action="/checkout">
            <button class="btn btn-primary" <%=(checkoutTime || !checkinTime) ? 'disabled' : '' %>>
              เช็คเอ้าท์
            </button>
          </form>
        </div>
      </div>




      </div>
      <% } %>
        <% } else { %> <!-- ถ้ายังไม่ได้ login -->
          <a href="/login">เข้าสู่ระบบ</a>
          <% } %>


            <%- include('partials/footer') %>