<%- include('../partials/header') %>
    <%- include('../partials/navbar') %>

        <div class="col-md-10 p-4">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h4 class="fw-bold">ดูข้อมูลเงินเดือน</h4>
            </div>
            <p>หน้าหลัก</p>
            <div class="card p-4">
                <h5 class="text-center">เงินเดือนของคุณ : <%= employee.emp_name %>
                </h5>

                <div class="mb-3">
                    <label>เงินเดือนพื้นฐาน</label>
                    <p class="form-control-plaintext">
                        <%= employee.salary_base %> บาท
                    </p>
                </div>
                <div class="mb-3">
                    <label>ค่าตำแหน่ง / เบี้ยเลี้ยง</label>
                    <p class="form-control-plaintext">
                        <%= employee.salary_allowance %> บาท
                    </p>
                </div>
                <div class="mb-3">
                    <label>โบนัส</label>
                    <p class="form-control-plaintext">
                        <%= employee.salary_bonus %> บาท
                    </p>
                </div>
                <div class="mb-3">
                    <label>ค่าล่วงเวลา (OT)</label>
                    <p class="form-control-plaintext">
                        <%= employee.salary_ot %> บาท
                    </p>
                </div>
                <div class="mb-3">
                    <label>หักเงิน</label>
                    <p class="form-control-plaintext">
                        <%= employee.salary_deduction %> บาท
                    </p>
                </div>
                <div class="mb-3">
                    <label>เงินเดือนสุทธิ</label>
                    <p class="form-control-plaintext fw-bold text-success">
                        <%= employee.total_salary %> บาท
                    </p>

                </div>
            </div>
        </div>

        <%- include('../partials/footer') %>